
body {
  background-color: #cee3f8; 
  font-family: 'Comic Sans MS', cursive;
  color: black; 
  margin: 0;
  padding: 0;
}


.home-page-container {
  display: flex;
  justify-content: space-between;
}

.hero-search-container, 
.lists-container {
  padding: 10px;
}

.hero-search-container{
  width: 30%; 
}

.lists-container{
  width: 70%; 

}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3498db; 
  color: white; 
  padding: 10px;
  text-decoration: none;

}

.header h1 {
  font-size: 2em;
  margin: 0;
  letter-spacing: 2px;
  color: #fff; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: 'Comic Sans MS', cursive; 
}

.header h1 span {
  color: #3ade66;
}


.user-info {
  margin-right: 20px;
}

.settings-dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f9f9f9; 
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.settings-dropdown:hover .dropdown-content {
  display: block; 
}

.dropdown-content a {
  color: black; 
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd; 
}

.dropdown-content button {
  color: white;
  background-color: #d9534f; 
  border: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: left;
}

.dropdown-content button:hover {
  background-color: #c9302c; 
}


/* This contains hero search items -------------------------------------- */ 

#heroSearchDiv {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-color: rgb(14, 84, 138);
  width: 90%;
  margin: 10px;
  padding: 20px 10px;
  border-radius: 20px;
}


#heroSearchDiv li{

  list-style-type: none;
  background-color: rgb(108, 132, 151);
  margin: 10px; 
  padding: 10px; 
  border-radius: 5px; 
  text-align: center;
  font-size: 18px; 
  color: black; 
  
}

#heroSearchDiv ul{

  list-style-type: none;

  margin: 10px; 
  padding: 10px; 
  border-radius: 5px; 
  text-align: center;
  font-size: 18px; 
  color: black; 
  width: 100%; 
  
}

#heroSearchDiv input {
  border: 2px solid #f5f5f5;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  background-color: #282c34;
  color: #61dafb;
  outline: none;
  transition: border-color 0.3s ease;
  display: block; 
  margin-bottom: 10px; 
  width: 90%; 
}

#heroSearchDiv input:hover,
#heroSearchDiv input:focus {
  border-color: #61dafb;
}

#heroSearchDiv input:focus {
  box-shadow: 0 0 10px rgba(97, 218, 251, 0.5);
}

#Search {
  width: 95%; 
  display: inline-block;
  padding: 10px 16px; 
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #f5f5f5; 
  border-radius: 8px;
  background-color: #282c34; 
  color: #61dafb;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

#Search:hover {
  background-color: #61dafb; 
  color: #282c34; 
  border-color: #61dafb; 
}

#Search:focus {
  box-shadow: 0 0 10px rgba(97, 218, 251, 0.5);
  outline: none;
}

.ddgSearch {
  display: inline-block;
  padding: 4px 6px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #333;
  border-radius: 8px; 
  background-color: transparent;
  color: #333; 
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.ddgSearch:hover {
  background-color: #333; 
  color: #fff;
}
  

/* this styling is for the personal lists ------------------------------------------------------------ */ 

#editDisplay input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;
  width: 80%; 
  box-sizing: border-box; 
  display: block;
  margin: 0 auto; 
}

#editDisplay input:hover,
#editDisplay input:focus {
  border-color: #61dafb;
}


#editDisplay input:focus {
  box-shadow: 0 0 5px rgba(97, 218, 251, 0.5);
  outline: none;
}



#createLists{
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
  background-color: rgb(14, 84, 138);
  width: 50%;
  margin: 10px;
  padding: 20px 10px;
  border-radius: 20px;
}

#createLists ul{

  list-style-type: none;

  margin: 10px; 
  padding: 10px; 
  border-radius: 5px; 
  text-align: center;
  font-size: 18px; 
  color: black; 
  width: 100%; 
  
}

#createLists li{

  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 

  list-style-type: none;
  background-color: rgb(96, 186, 255);
  margin: 10px; 
  padding: 10px; 
  border-radius: 5px; 
  text-align: center;
  font-size: 18px; 
  color: black; 

}

#innerDiv{
  width: 100%; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}


#createLists input {

  border: 2px solid #f5f5f5;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  background-color: #282c34;
  color: #61dafb;
  outline: none;
  transition: border-color 0.3s ease;
  display: block; 
  margin-bottom: 10px;
  width: 90%; 
}


#createLists input:hover,
#createLists input:focus {
  border-color: #61dafb;
}

#createLists input:focus {
  box-shadow: 0 0 10px rgba(97, 218, 251, 0.5);
}


.subtitle{
  font-size: 30px; 
  color: white; 
  text-align: center; 
}

.createListButton {
  
  margin-bottom: 10px; 
  width: 95%; 
  display: inline-block;
  padding: 10px 16px;
  font-size: 18px; 
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #f5f5f5;
  border-radius: 8px;
  background-color: #282c34; 
  color: #61dafb; 
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.createListButton:hover {
  background-color: #61dafb; 
  color: #282c34;
  border-color: #61dafb; 
}

.createListButton:focus {
  box-shadow: 0 0 10px rgba(97, 218, 251, 0.5);
  outline: none;
}





#publicInput {
  display: none;
}


#publicInput + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
}

#publicInput + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px; 
  height: 20px;
  border: 2px solid #009a12; 
  border-radius: 5px;
  background-color: #fff; 
}

#publicInput:checked + label:before {
  background-color: #009a12;
  border-color: #fff; 
}

#publicInput + label:after {
  content: 'Public';
  position: absolute;
  left: 35px; 
  top: 0;
  color: #fff;
}

#publicAndPrivateListBox{
  display: flex;
  flex-direction: row; 
  align-items: flex-start; 
}

/* aligns the personal lists */
#displayLists{
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

/* aligns the public lists */
#displayPublicLists{
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
  background-color: rgb(14, 84, 138);
  width: 50%;
  margin: 10px;
  padding: 20px 10px;
  border-radius: 20px;
}

#displayPublicLists ul{
  list-style-type: none;
  margin: 10px; 
  padding: 10px; 
  border-radius: 5px; 
  text-align: center;
  font-size: 18px; 
  color: black; 
  width: 100%; 
}


#displayPublicLists li{
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  
  list-style-type: none;
  background-color: rgb(96, 186, 255);
  margin: 10px; 
  padding: 10px; 
  border-radius: 5px; 
  text-align: center;
  font-size: 18px; 
  color: black; 
}


/* this is for public list comments */ 
#commentsList {
  /* display: flex;
  flex-direction: column; 
  list-style: none; */
  padding: 0;
}


#commentsList li {
  /* border-left: 10px solid darkblue;  */
  margin-bottom: 8px;
  font-size: 14px;
  /* white-space: pre-line;
  display: flex;
  flex-direction: column; */
}



.commentHeader {
  text-align: left; 
  
}

.commentText {
  text-align: left;
}

.commentDate {
  color: grey
}

.commenterName {
  color: red
}